<h1>Formulario de Datos</h1>
<section class="container-sm">
<form (ngSubmit)="Procesar()">
<section class="form-group">
<label for="id">Id</label>
<input type="text" class="form-control" name="id" [(ngModel)]="datos[0].Id">
</section>
<section class="form-group">
<label for="id">Nombre</label>
<input type="text" class="form-control" name="nombre" [(ngModel)]="datos[0].Nombre">
</section>
<section class="form-group">
<label for="id">Apellido</label>
<input type="text" class="form-control" name="apellido" [(ngModel)]="datos[0].Apellido">
</section>
<section class="form-group">
<label for="id">Correo</label>
<input type="text" class="form-control" name="correo" [(ngModel)]="datos[0].Correo">
</section>
<section class="form-group">
<input type="submit" value="Guardar" class="btn btn-primary">
</section>
</form>
</section>
