h1{
  text-align: center;
  margin:60px 0px 0px 0px;
  color: rgb(43, 43, 43);
}
.box{
  padding: 5%;
}
.input{
  border: none;
  padding: 6px;
  border-radius: 5px;
}
table{
  box-shadow:
  2.1px 3.1px 2.1px rgba(0, 0, 0, 0.039),
  5.1px 7.4px 5px rgba(0, 0, 0, 0.057),
  9.5px 14px 9.4px rgba(0, 0, 0, 0.07),
  17px 25px 16.8px rgba(0, 0, 0, 0.083),
  31.8px 46.8px 31.3px rgba(0, 0, 0, 0.101),
  76px 112px 75px rgba(0, 0, 0, 0.14)
;
}
table thead{
  background: rgb(57, 56, 56);
  color:white;
}
table tbody{
  background: rgb(249, 249, 249);
}
